.icon__wpp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 25px;
}

.icon__wpp a{
    text-decoration: none;
    color: $colorletra1;
}

.icon__location{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 25px;
    padding-bottom: 10px;
}

.icon__network{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    font-size: 20px;
}

.icon__network a{
    text-decoration: none;
    color: $colorletra1;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 18px;
    font-family: $letratexto;
    color: $colorletra2;

    .input{
    background-color: $colorletra1;
    border-radius: 10px;
    padding: 5px;
}

.form__buttons{
    text-align: center;

    .form__button{
        padding: 10px;
        background-color: $colorletra1;
        border-radius: 10px;
        padding: 5px;
}

.form__options{
    padding-block: 10px;
    }
}

}

@media only screen and (max-width: 576px){
    .icon__network{
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
}
