.contenedordondeencontrarme{
    width: 100%;
    justify-content: flex-start;
    gap: 0.5rem;
    display: grid;
    border: 10px solid $colorletra2;
    border-radius: 10px;
    grid-template-columns: 20% 25% 20% 25%;
    grid-template-rows: 10rem;
    grid-template-areas: 
    "encontrarme1 encontrarme1 encontrarme2 encontrarme2"
    "encontrarme1 encontrarme1 encontrarme2 encontrarme2"
    "encontrarme1 encontrarme1 encontrarme2 encontrarme2"
    "encontrarme1 encontrarme1 encontrarme2 encontrarme2"
    
    ;
}

.donde{
    border-radius: 10px;
}
.encontrarme1{
    background-image: url(./Imagenes/Gimnasio\ pared.jpeg);
    background-size: cover;
    background-position: center;
    grid-area: encontrarme1;
}

.encontrarme2{
    grid-area: encontrarme2;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-family: $letratexto;
    color: $colorletra2;
}

.textodelgym{
    padding-bottom: 10px;
}



@media only screen and (max-width: 768px){
    .contenedordondeencontrarme{
        width: 100%;
        padding: 10px;
        border: 10px solid $colorletra2;
        border-radius: 10px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 220px 220px 220px;
        grid-template-areas: 
        "encontrarme1 encontrarme1"
        "encontrarme1 encontrarme1"
        "encontrarme1 encontrarme1"
        "encontrarme1 encontrarme1"
        "encontrarme1 encontrarme1"
        "encontrarme2 encontrarme2"
        "encontrarme2 encontrarme2"
        ;
    }
}