.contenedordondeencontrarme{
    width: 100%;
    height: 500px;
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 250px 200px 200px;
    grid-template-rows: 250px 250px 200px 200px;
    grid-template-areas: 
    "encontrarme1 encontrarme1 encontrarme2 encontrarme2"
    "encontrarme1 encontrarme1 encontrarme2 encontrarme2"
    ;
}

.donde{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
.encontrarme1{
    background-image: url(./Imagenes/Gimnasio\ pared.jpeg);
    background-size: cover;
    background-position: center;
    grid-area: encontrarme1;
}

.encontrarme2{
    grid-area: encontrarme2;
    padding: 25px 10px 10px 10px;
    font-family: $letratexto;
    font-size: 18px;
    color: $colorletra2;
}

.textodelgym{
    padding-bottom: 10px;
}


@media only screen and (max-width: 768px){
    .contenedordondeencontrarme
    {
        height: 600px;

        .donde{
            height: 560px;
            font-size: 15px;
        }

        .encontrarme2{
            width: 80%;
        }
    }
}

@media only screen and (max-width: 480px){
    .contenedordondeencontrarme{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
        width: 100%;
        height: 1000px;
        border: 10px solid $colorletra2;
        border-radius: 10px;

        .encontrarme1{
            width: 95%;
        }

        .encontrarme1{
            width: 95%;
        }
    }
}