.main__container{
    display: flex;
    gap: 1rem;
    padding: 20px;
    width: 100%;
    justify-content: space-evenly;
}

.main__image__container{
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 50px;
    background-color: $colorletra2;

    &:hover{
        transition: 1s;
        transform: scale(0.9);
    }

    .main__image{
        width: 100%;
    }

    .main__title{
        font-size: 24px;
        text-align: center;
        font-family: $letratexto;
        color: $colorletra1;
    }
}

@media only screen and (max-width: 576px){
    .main__container{
        flex-direction: column;
    }
}

