@import url('https://fonts.googleapis.com/css2?family=Anton&family=Russo+One&display=swap');

$letratitulo: 'Russo One', sans-serif;
$letratexto: 'Anton', sans-serif;

$colorletra1: rgb(199, 199, 199);
$colorletra2: rgb(48, 48, 48);


$fondo1:  linear-gradient(to bottom, #ececec, #c5c5c5, #9f9f9f, #7a7a7a, #585858, #585858, #585858, #585858, #7a7a7a, #9f9f9f, #c5c5c5, #ececec);
$fondo2: linear-gradient(to bottom, #ececec, #dadada, #c8c8c8, #b7b7b7, #a6a6a6, #969696, #868686, #767676, #636363, #515151, #3f3f3f, #2e2e2e);