@import url("https://fonts.googleapis.com/css2?family=Anton&family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: black;
  color: rgb(104, 104, 104);
}
*::selection {
  background-color: black;
  color: rgb(104, 104, 104);
}

body {
  background-image: linear-gradient(to bottom, #ececec, #c5c5c5, #9f9f9f, #7a7a7a, #585858, #585858, #585858, #585858, #7a7a7a, #9f9f9f, #c5c5c5, #ececec);
}

.title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
  -webkit-text-decoration: underline rgba(44, 44, 44, 0.493);
          text-decoration: underline rgba(44, 44, 44, 0.493);
  font-family: "Russo One", sans-serif;
  color: rgb(37, 37, 37);
}
.title h1 {
  padding-bottom: 10px;
}
.title h1::first-letter {
  color: rgba(44, 44, 44, 0.493);
}
.title h2::first-letter {
  color: rgba(44, 44, 44, 0.493);
}

.navigation__list {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  padding-block: 40px 25px;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
}
.navigation__list .search {
  display: inline;
}
.navigation__list .search.active {
          text-decoration: double underline;
}

.search a {
  text-decoration: none;
  color: rgb(37, 37, 37);
}
.search a:hover {
  color: rgb(156, 149, 149);
  background-color: black;
  padding: 10px;
  border-radius: 15px;
}

hr {
  margin-block: 10px;
  margin-left: 150px;
  margin-right: 150px;
}

@media only screen and (max-width: 768px) {
  .navigation__list {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
@media only screen and (max-width: 576px) {
  .navigation__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
  }
}
.logo {
  display: flex;
  justify-content: center;
  padding-block: 20px;
}

.icon__container {
  display: flex;
  justify-content: space-between;
  padding-inline: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

.icon__container a {
  text-decoration: none;
  color: rgb(37, 37, 37);
}

@media only screen and (max-width: 768px) {
  .icon__container {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
.main__container {
  display: flex;
  gap: 1rem;
  padding: 20px;
  width: 100%;
  justify-content: space-evenly;
}

.main__image__container {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: rgb(37, 37, 37);
}
.main__image__container:hover {
  transition: 1s;
  transform: scale(0.9);
}
.main__image__container .main__image {
  width: 100%;
}
.main__image__container .main__title {
  font-size: 24px;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: rgb(199, 199, 199);
}

@media only screen and (max-width: 576px) {
  .main__container {
    flex-direction: column;
  }
}
.presentation {
  text-align: center;
  font-size: 18px;
  font-family: "Anton", sans-serif;
  padding: 10px;
  color: rgb(37, 37, 37);
}

.quienSoy__container{
  display: flex;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  border: solid black 10px;
  border-radius: 20px;
  gap: 1rem;
}


.image{
  width: 50%;
  border-radius: 10px;
}

.image2{
  object-fit: cover;
}

.image3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text{
  font-size: 20px;
  padding-block: 10px;
  font-family: "Anton", sans-serif;
  color: rgb(27, 27, 27);
}

.description__title {
  padding-top: 20px;
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-size: 30px;
  text-decoration: underline;
  color: rgb(199, 199, 199);
}

.description__text {
  padding: 20px;
  text-align: center;
  font-family: "Anton", sans-serif;
}

@media only screen and (max-width: 768px) {
  .quienSoy__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }

  .image{
    width: 100%;
    border-radius: 10px;
  }

  .image3{
    padding-inline: 5px;
  }
}


.service__container {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  gap: 1rem;
}
.service__container .service__subcontainer {
  background-color: rgb(199, 199, 199);
  width: 400px;
  padding: 10px;
  border-radius: 20px;
}
.service__container .service__subcontainer:hover {
  transition: 1s;
  transform: scale(0.9);
}
.service__container .service__image {
  max-width: 100%;
}
.service__container .service__title {
  padding-top: 5px;
  text-align: center;
  font-size: 20px;
  font-family: "Russo One", sans-serif;
  color: rgb(37, 37, 37);
}
.service__container .service__text {
  text-align: center;
  padding-bottom: 10px;
  font-size: 15px;
  font-family: "Anton", sans-serif;
  color: rgb(37, 37, 37);
}
.service__container .service__button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
}
.service__container .service__button a {
  text-decoration: none;
  padding: 2px;
  border-radius: 10px;
  color: rgb(37, 37, 37);
  font-family: "Anton", sans-serif;
}
.service__container .button__container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .service__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.dondeEncontrarme__container {
  display: flex;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  gap: 1rem;
  border: solid black 10px;
  border-radius: 20px;
}

.subcontainer {
  width: 50%;
}

.container__image {
  border-radius: 5px;
}

.container__image2 {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  font-family: "Anton", sans-serif;
  color: rgb(37, 37, 37);
}

.container__text {
  padding-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .dondeEncontrarme__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }

  .container__image{
    width: 100%;
  }

  .container__image2{
    width: 100%;
  }
}
.icon__wpp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 25px;
}

.icon__wpp a {
  text-decoration: none;
  color: rgb(199, 199, 199);
}

.icon__location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 25px;
  padding-bottom: 10px;
}

.icon__network {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  font-size: 20px;
}

.icon__network a {
  text-decoration: none;
  color: rgb(199, 199, 199);
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 18px;
  font-family: "Anton", sans-serif;
  color: rgb(37, 37, 37);
}
.formu.input {
  background-color: rgb(199, 199, 199);
  border-radius: 10px;
  padding: 5px;
}
.form .form__buttons {
  text-align: center;
}
.form .form__buttons .form__button {
  padding: 10px;
  background-color: rgb(199, 199, 199);
  border-radius: 10px;
  padding: 5px;
}
.form .form__buttons .form__options {
  padding-block: 10px;
}

@media only screen and (max-width: 576px) {
  .icon__network {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}/*# sourceMappingURL=estilos.css.map */